/* Body */

body {
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; 
	background-color: #000000; 
	color: #f0f0f0;	
}

a {
	color: #08b;
	text-decoration: none;
}
a:hover {
	color: #08b;
	text-decoration: underline;
}

ul {
	list-style-type: square;
	margin-left: 25px;
}

/* Header */

#header {
	margin-top: 30px;
	margin-bottom: 0px;
	padding-bottom: 15px;
	border-bottom: 1px solid #969696;
}
#header h1 {
	font-size: 360%;
	margin-top: 17px;
	margin-bottom: 3px;
	color: #ffffff;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: lighter;
}

#header h1 a, #header h1 a:hover {
	color: #ffffff;
	text-decoration: none;
}
#header span {
	color: #AAA;
	font-size: 110%;
	font-weight: lighter;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-left: 1px;
}

#download_cv {
	position: relative;
	background-color: #c0e0ff;
	display: block;
	text-align: center;
	margin-top: 40px;
	padding: 7px;
	
	/* Do rounding (native in Firefox and Safari) */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;

}

#download_cv a {
	text-decoration: none;
	color: #000;
	font-size: 140%;
}

.project_teaser {
	padding-bottom: 15px;	
}

.project_feature {
	padding-bottom: 30px;
}

.project_teaser .project_photo,
.project_feature .project_photo {
	background-color: #191919;
	/* Do rounding (native in Firefox and Safari) */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 10px 10px 5px 10px;
}

.project_teaser .project_description,
.project_feature .project_description {
	padding: 12px 5px 5px 10px;
}

.project_teaser .project_description .readmore,
.project_feature .project_description .readmore {
	text-align: right;	
	padding: 2px 10px;
}

.project_teaser h2,
.project_feature h2 {
	margin-bottom: 12px;
	color: #ffffff;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: lighter;
}

.project_feature h2 {
	margin-top: 15px;
	font-size:  260%;
}

.project_teaser p,
.project_feature p {
	color: #aaa;
	margin-bottom: 8px;
}

.project_detail_photos {
	padding-bottom: 25px;
}

.project_detail_photos .photo {
	background-color: #191919;
	/* Do rounding (native in Firefox and Safari) */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 10px 10px 5px 10px;
}

.project_description h1 {
	color: #ffffff;
	font-size: 260%;
}

.project_description p {
	text-align: justify;
}

/* Main */

#main {
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Footer */

#footer {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 10px;
	text-align: center;
	color: #7f7f7f;
}