---
layout: default
title: "Afstudeerproject"
---

<div class="span-24 project_detail_photos">
    <div class="span-8">
        <div class="photo">
            <a href="/images/afstudeerproject/jeruzalem_large.jpg" rel="lightbox[afstudeerproject]" title="Nemavo-Airey woningen in Jeruzalem, Helmond"><img src="/images/afstudeerproject/jeruzalem.jpg" alt="Woningen Jeruzalem" /></a>
        </div>
    </div>

    <div class="span-8">
        <div class="photo">
            <a href="/images/afstudeerproject/compartimentering_large.jpg" rel="lightbox[afstudeerproject]" title="Zonering van de woning in de huidige situatie (links) en in de nieuwe situatie (rechts)"><img src="/images/afstudeerproject/compartimentering.jpg" alt="Zonering woning" /></a>
        </div>
    </div>

    <div class="span-8 last">
        <div class="photo">
            <a href="/images/afstudeerproject/ventilatieconcept_large.jpg" rel="lightbox[afstudeerproject]" title="Het ventilatieconcept: balansventilatie in de verwarmde zone, natuurlijke toevoer in de onverwarmde zone"><img src="/images/afstudeerproject/ventilatieconcept.jpg" alt="Ventilatieconcept" /></a>
        </div>
    </div>
</div>

<div class="span-24">
    <div class="project_description">
        
        <h1>Afstudeerproject: energiezuinig en bewonersgericht renoveren van Nemavo-Airey woningen</h1>
        
        {% include return_to_portfolio.html %}
        
        <div class="span-11 append-1">						
			<p>
				Nemavo-Airey woningen zijn gebouwd in de wederopbouwperiode na de Tweede Wereldoorlog. Ze bestaan voor een groot deel uit betonnen elementen. Eengezinswoningen die gebouwd zijn volgens het Nemavo-Airey bouwsysteem voldoen niet meer aan de eisen van deze tijd: de woningen zijn klein, en zowel de thermische isolatie als de geluidsisolatie is slecht. Het energiegebruik voor ruimteverwarming is hoog. Sloop van de woningen leidt echter tot een grote hoeveelheid afval en tot kapitaalvernietiging; de impact op het leven van de bewoners is groot. Mogelijk kan renovatie een goed alternatief vormen voor sloop en nieuwbouw. 
			</p>

			<p>
				In dit afstudeerproject is dan ook een renovatiemethode ontwikkeld voor Nemavo-Airey woningen. Een aantal woningen in de buurt 'Jeruzalem' in Helmond zijn gebruikt als case study voor het project. Deze woningen zijn eigendom van woningbouwvereniging Volksbelang. 
			</p>
			
			<p>
				De ontwikkelde renovatiemethode kan als volgt worden gekenmerkt: 
			</p>
			
			<ul>
				<li>Vergroting en modernisering van de woningen (meer ruimte, meer voorzieningen, betere geluidsisolatie, betere thermische isolatie);</li>
				<li>Realisatie van aanpasbare woningen: er is een klein woningtype (met een uitbreiding op de begane grond) en een groot woningtype (met een uitbreiding op zowel begane grond als verdieping). Verbouwing van het kleine naar het grote type op een later moment is mogelijk;</li>
				<li>Zeer goede thermische isolatie (dichte delen: R ± 5 m<sup>2</sup>K/W; HR++ glas: U = 1,1 W/m<sup>2</sup>K; geïsoleerde kozijnen: U = 1,0 W/m<sup>2</sup>K) en zeer goede luchtdichtheid;</li>
				<li>Ook maatregelen om het overige energiegebruik (tapwaterverwarming, wassen en drogen) te verlagen (o.a. realisatie van een was- en droogruimte, douchepijp-warmteterugwinning);</li>
			</ul>
        </div>
        
        <div class="span-11 append-1 last">			
			<ul>
				<li>Introductie van een nieuw ventilatieconcept: balansventilatie met warmteterugwinning op de verwarmde begane grond en natuurlijke toevoer van ventilatielucht op de onverwarmde verdieping. Deze twee zones worden strikt gescheiden, de verdiepingsvloer wordt licht geïsoleerd.</li>
			</ul>			
			
			<p>
				Uit een gehouden enquête blijkt dat de bewoners van de woningen in Jeruzalem de verwarming op de verdieping nauwelijks gebruiken, en dat ze de ramen op de verdieping zeer veel open zetten (bij koud weer ± 11,5 uur per dag). Het in energiezuinige woningen 'standaard' toegepaste balansventilatiesysteem met warmteterugwinning sluit hier slecht op aan. Het nieuw ontwikkelde ventilatiesysteem zal een beter wooncomfort tot gevolg hebben (slaapkamers blijven koel en 'fris'), terwijl toch een zeer grote energiebesparing gerealiseerd wordt. 
			</p>
			
			<p>
				De gekozen aanpak heeft de volgende resultaten:
			</p>

			<ul>
				<li>Meer wooncomfort voor de bewoners;</li>
				<li>Lange levensduurverlenging door aanpasbaarheid van de woningen;</li>
				<li>Zeer grote energiebesparing: het gasverbruik daalt van ± 1500 m<sup>3</sup>/a tot ± 340 m<sup>3</sup>/a. Het energiegebruik voor ruimteverwarming daalt van ± 145 kWh/m<sup>2</sup>a tot ± 20 kWh/m<sup>2</sup>a;</li>
				<li>Zeer grote reductie van de CO<sub>2</sub>-uitstoot: deze daalt van ± 2700 kg/a tot ± 800 kg/a;</li>
				<li>Grote verlaging van de maandelijkse energiekosten: deze dalen van ± €90 per maand tot ± €30 per maand.</li>
			</ul>
			
			<p>
				Meer informatie over het project: 
			</p>
			
			<ul>
				<li><a href="http://architecture.ucd.ie/Paul/PLEA2008/content/papers/poster/PLEA_FinalPaper_ref_263.pdf">Paper over het eerste gedeelte van het project, geschreven voor de conferentie PLEA 2008 te Dublin, in samenwerking met Michiel Ham (pdf)</a></li>
				<li><a href="/samenvatting_afstudeerproject_laura_oerlemans.pdf">Samenvatting van het project (pdf)</a></li>
				<li><a href="/afstudeerpresentatie_laura_oerlemans.pdf">Slides eindpresentatie (pdf)</a></li> 
			</ul>
        </div>
        
        {% include return_to_portfolio.html %}
        
    </div>
</div>

<div class="span-24 project_detail_photos">
    <div class="span-8">
        <div class="photo">
            <a href="/images/afstudeerproject/plattegronden_bg_large.jpg" rel="lightbox[afstudeerproject]" title="Plattegrond begane grond in de huidige situatie (links) en in de nieuwe situatie (rechts)"><img src="/images/afstudeerproject/plattegronden_bg.jpg" alt="Plattegrond begane grond" /></a>
        </div>
    </div>

    <div class="span-8">
        <div class="photo">
            <a href="/images/afstudeerproject/plattegronden_verdklein_large.jpg" rel="lightbox[afstudeerproject]" title="Plattegrond verdieping in de huidige situatie (links) en in de nieuwe situatie, klein woningtype (rechts)"><img src="/images/afstudeerproject/plattegronden_verdklein.jpg" alt="Plattegrond verdieping, klein type" /></a>
        </div>
    </div>

    <div class="span-8 last">
        <div class="photo">
            <a href="/images/afstudeerproject/plattegronden_verdgroot_large.jpg" rel="lightbox[afstudeerproject]" title="Plattegrond verdieping in de huidige situatie (links) en in de nieuwe situatie, groot woningtype (rechts)"><img src="/images/afstudeerproject/plattegronden_verdgroot.jpg" alt="Plattegrond verdieping, groot type" /></a>
        </div>
    </div>
</div>