---
layout: default
title: Biofuels in Latin America
---

<div class="span-24 project_detail_photos">
    <div class="span-8">
        <div class="photo">
            <a href="/images/biofuels/vergelijking_planten_large.jpg" rel="lightbox[biofuels]" title="Vergelijking tussen diverse planten die geschikt zijn voor de productie van biodiesel"><img src="/images/biofuels/vergelijking_planten.jpg" alt="Vergelijking tussen planten" /></a>
        </div>
    </div>

    <div class="span-8">
        <div class="photo">
            <a href="/images/biofuels/beckerfrancis_jatrophaplanten_large.jpg" rel="lightbox[biofuels]" title="Jatrophaplanten met daartussen groentes (intercropping) (bron: Becker & Francis; Bio-diesel from Jatropha plantations on degraded land)"><img src="/images/biofuels/beckerfrancis_jatrophaplanten.jpg" alt="Jatrophaplanten" /></a>
        </div>
    </div>

    <div class="span-8 last">
        <div class="photo">
            <a href="/images/biofuels/vincentz_jatrophazaden_large.jpg" rel="lightbox[biofuels]" title="Jatrophazaden (bron: http://nl.wikipedia.org/wiki/Jatropha_curcas)"><img src="/images/biofuels/vincentz_jatrophazaden.jpg" alt="Jatrophazaden" /></a>
        </div>
    </div>
</div>

<div class="span-24">
    <div class="project_description">
        
        <h1>Biofuels in Latin America</h1>

        {% include return_to_portfolio.html %}
        
        <div class="span-11 append-1">
            <p>
                <i>Welke gebieden in Latijns Amerika hebben het grootste potentieel om een productiefaciliteit voor biobrandstoffen te starten, en wat zijn hierbij de kansen en gevaren?</i>
			</p>

			<p>
				Dit was de hoofdvraag van het interfacultaire project 'Biofuels in Latin America'. Dit project werd georganiseerd door het Centrum TDO (Technologie voor Duurzame Ontwikkeling) van de Technische Universiteit Eindhoven, en werd uitgevoerd met een groep van zes studenten van verschillende faculteiten. De opdrachtgever was Diligent Energy Systems, een Eindhovens bedrijf dat biobrandstoffen uit tropische gewassen ontwikkelt. Aangezien de conclusies van het uitgevoerde onderzoek vertrouwelijk zijn, wordt hier alleen de opzet van het project beschreven. 
			</p>
			
			<p>
				Het project is in vijf stappen uitgevoerd. Allereerst zijn een aantal landen direct geëlimineerd in verband met de grote politieke instabiliteit in deze landen. Vervolgens zijn uit de overgebleven landen de drie meest veelbelovende geselecteerd. Dit is gedaan met behulp van een multi criteria analyse (MCA). 
			</p>
        </div>
        
        <div class="span-11 append-1 last">
			<p>
				Daarna is informatie verzameld over planten die geschikt zijn voor de productie van biodiesel. Vervolgens is een gedetailleerder onderzoek uitgevoerd voor de drie geselecteerde landen, om zo de meest veelbelovende gebieden te identificeren. Als laatste is een bedrijfsstrategie opgezet.
			</p>
			
			<p>
				In het onderzoek is veel aandacht besteed aan de plant Jatropha curcas, een plant die al voor Diligent verbouwd wordt in Tanzania. Deze plant heeft een groot aantal voordelen ten opzichte van bijvoorbeeld het in Europa verbouwde koolzaad. Zo kan de plant ingezet worden tegen verwoestijning, en is het zelfs mogelijk om verwoestijnde gronden weer bebouwbaar te maken met behulp van deze plant. In het onderzoek wordt dan ook voorgesteld om Jatropha te verbouwen in gebieden waar een risico op verwoestijning is. Ook is een schatting gemaakt van de kosten en opbrengsten van de verbouwing van Jatropha.
            </p>
        </div>
        
        {% include return_to_portfolio.html %}
        
    </div>
</div>