---
layout: default
title: "Duurzaam ontwerpen: spaceboxen"
---

<div class="span-24 project_detail_photos">
    <div class="span-8">
        <div class="photo">
            <a href="/images/duurzaamontwerpen/spacebox_vervoer_large.jpg" rel="lightbox[duurzaamontwerpen]" title="Vervoer van Spaceboxen (bron: www.spacebox.info)"><img src="/images/duurzaamontwerpen/spacebox_vervoer.jpg" alt="Vervoer Spaceboxen" /></a>
        </div>
    </div>

    <div class="span-8">
        <div class="photo">
            <a href="/images/duurzaamontwerpen/spacebox_exterieur_large.jpg" rel="lightbox[duurzaamontwerpen]" title="Exterieur van de Spaceboxen (bron: Keuning, D. Kunststof woningbouw. In: Detail in Architectuur, juni 2004)"><img src="/images/duurzaamontwerpen/spacebox_exterieur.jpg" alt="Exterieur Spaceboxen" /></a>
        </div>
    </div>

    <div class="span-8 last">
        <div class="photo">
            <a href="/images/duurzaamontwerpen/spacebox_interieur_large.jpg" rel="lightbox[duurzaamontwerpen]" title="Interieur van een Spacebox (bron: Keuning, D. Kunststof woningbouw. In: Detail in Architectuur, juni 2004)"><img src="/images/duurzaamontwerpen/spacebox_interieur.jpg" alt="Interieur Spacebox" /></a>
        </div>
    </div>
</div>

<div class="span-24">
    <div class="project_description">
        
        <h1>Duurzaam ontwerpen: spaceboxen</h1>
        
        {% include return_to_portfolio.html %}
        
        <div class="span-11 append-1">
			<p>	
				Voor het vak 'Duurzaam Ontwerpen' heb ik met behulp van het strategieënwiel (LiDS-wiel) de Spacebox geanalyseerd. Ook heb ik met behulp van dit wiel een verbeteringsvoorstel gemaakt.
			</p>
			
			<p>
				Spaceboxen zijn kant-en-klare woonunits, die vooral worden toegepast voor de tijdelijke huisvesting van studenten. In een complex spaceboxen heeft iedere student zijn eigen box.
			</p>
			
			<p>
				Het strategieënwiel bestaat uit 8 strategieën om tot een duurzaam product te komen. Enkele van deze strategieën zijn optimalisatie van de functievervulling, reductie van het materiaalgebruik en de reductie van de milieubelasting in de gebruiksfase. De huidige Spacebox is op elk van deze strategieën beoordeeld. Ook is voor iedere strategie het verbeteringspotentieel bepaald. Op deze manier wordt duidelijk of het product al redelijk duurzaam is, en op welke punten veel winst te behalen valt.
			</p>
        </div>
        
        <div class="span-11 append-1 last">
			<p>
				De huidige Spacebox wordt voor een zeer groot gedeelte uit kunststoffen gefabriceerd; wanden, vloer en dak bestaan namelijk vooral uit PIR-schuim en polyester glasvezel laminaat. Deze materiaalkeuze zorgt voor een zeer slechte score voor de strategieën 1 (kies low-impact materialen) en 7 (optimaliseer einde-levensduur systeem). De keuze zorgt echter voor een zeer goede score voor strategie 2 (reduceer materiaalgebruik), omdat de Spacebox (dankzij deze materiaalkeuze) een zeer laag gewicht heeft.
			</p>
			
			<p>
				Naar aanleiding van de beoordeling van de huidige Spacebox is een alternatieve wandopbouw voorgesteld. Dit is een houtskeletbouwwand, met aan de buitenzijde Trespa gevelbeplating. Deze wandopbouw scoort beter op een groot aantal strategieën. Echter, de wand heeft wel een hoger gewicht en een (iets) lagere warmteweerstand.
            </p>
        </div>
        
        {% include return_to_portfolio.html %}
        
    </div>
</div>

<div class="span-24 project_detail_photos">
    <div class="span-8">
        <div class="photo">
            <a href="/images/duurzaamontwerpen/strategieenwiel_large.jpg" rel="lightbox[duurzaamontwerpen]" title="Het strategieënwiel, met Spacebox (rood) en verbeteringspotentieel (blauw)"><img src="/images/duurzaamontwerpen/strategieenwiel.jpg" alt="Strategieënwiel" /></a>
        </div>
    </div>

    <div class="span-8">
        <div class="photo">
            <a href="/images/duurzaamontwerpen/wand_oud_large.jpg" rel="lightbox[duurzaamontwerpen]" title="Wandopbouw van de huidige Spacebox "><img src="/images/duurzaamontwerpen/wand_oud.jpg" alt="Huidige wandopbouw" /></a>
        </div>
    </div>

    <div class="span-8 last">
        <div class="photo">
            <a href="/images/duurzaamontwerpen/wand_nieuw_large.jpg" rel="lightbox[duurzaamontwerpen]" title="De voorgestelde alternatieve wandopbouw"><img src="/images/duurzaamontwerpen/wand_nieuw.jpg" alt="Nieuwe wandopbouw" /></a>
        </div>
    </div>
</div>