---
layout: default
title: "Highrise buildings: the Transportal"
---

<div class="span-24 project_detail_photos">
    <div class="span-8">
        <div class="photo">
            <a href="/images/highrise/transportal_large.jpg" rel="lightbox[highrise]" title="The Transportal"><img src="/images/highrise/transportal.jpg" alt="Transportal" /></a>
        </div>
    </div>

    <div class="span-8">
    	<div class="photo">
        	<a href="/images/highrise/transportal_gevel_large.jpg" rel="lightbox[highrise]" title="Beeld van de gevel met melkglas en doorzichtglas"><img src="/images/highrise/transportal_gevel.jpg" alt="Gevelbeeld" /></a>
    	</div>
	</div>

    <div class="span-8 last">
        <div class="photo">
            <a href="/images/highrise/plattegrond_kantoorvloer_large.jpg" rel="lightbox[highrise]" title="Plattegrond kantoorverdieping, met atrium in het middengedeelte"><img src="/images/highrise/plattegrond_kantoorvloer.jpg" alt="Plattegrond kantoorverdieping" /></a>
        </div>
    </div>
</div>

<div class="span-24">
    <div class="project_description">
        
        <h1>Highrise buildings: the Transportal</h1>

        {% include return_to_portfolio.html %}
        
        <div class="span-11 append-1">
            <p>
               	De opdracht voor dit multidisciplinaire project was het ontwerpen van een 250 meter hoge kantoortoren in het gebied rond het Centraal Station van Rotterdam, met een groep van 6 bouwkunde-studenten van verschillende disciplines. Ik nam in onze groep de bouwtechnische uitwerking van de toren voor mijn rekening. 
			</p>

			<p>
				Transport speelt een zeer grote rol in een wolkenkrabber. Ook in het gebied rond de gekozen kavel is transport een belangrijk gegeven. Zo loopt de spoorlijn dwars over de kavel heen. Transport vormt dan ook het concept van het gebouw.
			</p>

			<p>
				Het transport komt aan de buitenzijde van het gebouw vooral tot uitdrukking in de bovengrondse parkeergarage en de prominent aanwezige liftkolom. De skylobbies zijn verbonden met deze liftkolom (met snellift), en fungeren als verkeersknooppunten. Tevens zijn er gemeenschappelijke functies gehuisvest. Aan de binnenzijde van het gebouw komt het transport vooral tot uitdrukking in de skylobbies. Ook bijvoorbeeld leidingen zijn voor een groot gedeelte in het zicht gelaten.
			</p>
        </div>
        
        <div class="span-11 append-1 last">
			<p>
				De constructie is geconcentreerd in de skylobbies. 10 meter hoge vakwerken zijn hier bevestigd aan drie betonnen pijlers, die tevens de liften herbergen. Tussen twee skylobbies liggen steeds een aantal kantoorlagen. Zij hangen aan de skylobby erboven.
			</p>

			<p>
				De gevel van de kantoorlagen is uitgevoerd als tweede-huid-façade, omdat dit grote voordelen heeft op het gebied van comfort en energiehuishouding. Omdat de kantoren geen transportfunctie hebben zijn zij meer gesloten: een gedeelte van de gevel bestaat uit melkglas. In de skylobbies is een enkele vliesgevel toegepast, omdat hier comfort minder belangrijk is (de skylobbies zijn geen verblijfsruimtes).
            </p>

			<p>
				De gevel van de boven elkaar liggende kantoorlagen tussen twee skylobbies is zodanig ontworpen dat deze aan de buitenzijde vrijwel geheel uit glas bestaat, zonder duidelijke onderbreking ter plaatse van de vloeren: er ontstaat een monolithische uitstraling. De vloeren tussen de skylobbies en de kantoren zijn juist sterk aangezet door middel van een brede aluminium rand. Dit effect wordt versterkt doordat de gevel van de skylobbies iets terugligt.
			</p>
        </div>
        
        {% include return_to_portfolio.html %}
        
    </div>
</div>

<div class="span-24 project_detail_photos">
    <div class="span-8">
        <div class="photo">
            <a href="/images/highrise/plattegrond_skylobby_large.jpg" rel="lightbox[highrise]" title="Plattegrond skylobby, met conferentiezaal en liften"><img src="/images/highrise/plattegrond_skylobby.jpg" alt="Plattegrond skylobby" /></a>
        </div>
    </div>

    <div class="span-8">
        <div class="photo">
            <a href="/images/highrise/detail_kantoorvloer_large.jpg" rel="lightbox[highrise]" title="Detail van de gevelaansluiting tussen twee kantoorvloeren"><img src="/images/highrise/detail_kantoorvloer.jpg" alt="Detail gevelaansluiting kantoorvloeren" /></a>
        </div>
    </div>

    <div class="span-8 last">
        <div class="photo">
            <a href="/images/highrise/detail_skylobby_large.jpg" rel="lightbox[highrise]" title="Detail van de gevelaansluiting tussen kantoor (boven) en skylobby (onder)"><img src="/images/highrise/detail_skylobby.jpg" alt="Detail gevelaansluiting kantoorvloer en skylobby" /></a>
        </div>
    </div>
</div>