---
layout: default
title: Portfolio
---

<div class="span-24">
    {% include project_header.html %}
</div>

<div class="span-24">
    <div class="span-8">
        {% include project_teaser_a.html %}
    </div>
    
    <div class="span-8">
        {% include project_teaser_a.html %}
    </div>
    
    <div class="span-8 last">
        {% include project_teaser_a.html %}
    </div>
</div>

<div class="span-24">
    <div class="span-8">
        {% include project_teaser_a.html %}
    </div>
    
    <div class="span-8">
        {% include project_teaser_a.html %}
    </div>
    
    <div class="span-8 last">
        {% include project_teaser_a.html %}
    </div>
</div>