---
layout: default
title: LCA-techniek voor duurzaam bouwen
---

<div class="span-24 project_detail_photos">
    <div class="span-8">
        <div class="photo">
            <a href="/images/lcatechniek/tno_pvdaken_large.jpg" rel="lightbox[lcatechniek]" title="Woningen met het onderzochte PV-daksysteem (bron: TNO; Nieuw PV dakconcept voor grootschalige toepassing in de Stad van de Zon)"><img src="/images/lcatechniek/tno_pvdaken.jpg" alt="PV-daksysteem" /></a>
        </div>
    </div>

    <div class="span-8">
        <div class="photo">
            <a href="/images/lcatechniek/vergelijking_zonderelektriciteit_large.jpg" rel="lightbox[lcatechniek]" title="Milieubelasting van PV-dak (links) en pannendak (rechts), zonder rekening te houden met de door het PV-dak opgewekte elektriciteit"><img src="/images/lcatechniek/vergelijking_zonderelektriciteit.jpg" alt="Vergelijking zonder elektriciteit" /></a>
        </div>
    </div>

    <div class="span-8 last">
        <div class="photo">
            <a href="/images/lcatechniek/vergelijking_metelektriciteit_large.jpg" rel="lightbox[lcatechniek]" title="Milieubelasting van PV-dak (links) en pannendak (rechts), waarbij tevens rekening gehouden wordt met de door het PV-dak opgewekte elektriciteit"><img src="/images/lcatechniek/vergelijking_metelektriciteit.jpg" alt="Vergelijking met elektriciteit" /></a>
        </div>
    </div>
</div>

<div class="span-24">
    <div class="project_description">
        
        <h1>LCA-techniek voor duurzaam bouwen</h1>

        {% include return_to_portfolio.html %}
        
        <div class="span-11 append-1">
            <p>
                <i>Weegt de energie die een PV-dak levert op tegen de extra milieubelasting door de productie van zo'n dak?</i>
			</p>

			<p>
				Dit is de vraag die ik mij voor de opdracht bij het vak 'LCA-techniek voor duurzaam bouwen' gesteld heb. Om deze vraag te kunnen beantwoorden, heb ik een dak met PV-panelen vergeleken met een traditioneel pannendak. 
			</p>	
			
			<p>	
				Een PV-dak, gemaakt met fotovoltaïsche panelen die zonlicht omzetten in elektriciteit, zal gedurende zijn levensduur elektriciteit produceren. Een pannendak heeft echter een lagere energie-inhoud dan een PV-dak (voor de productie van het pannendak is minder energie nodig dan voor de productie van het PV-dak).
			</p>

			<p>
				Het onderzoek is uitgevoerd met behulp van het computerprogramma SimaPro. De beide daken zijn met behulp van de Eco-Indocator 95 methode vergeleken. Samengevat kan het volgende geconcludeerd worden:
			</p>
        </div>
        
        <div class="span-11 append-1 last">
            <ul>
				<li>Indien alleen de productie van beide daken wordt beschouwd – dus als de elektriciteitsopwekking door de PV-panelen buiten beschouwing gelaten wordt – is de milieubelasting van het PV-dak beduidend hoger dan die van het pannendak.</li>
				<li>Indien de elektriciteitsopwekking door de PV-panelen wel beschouwd wordt, is de milieubelasting van het pannendak juist veel hoger dan die van het PV-dak. De milieubelasting van het pannendak wordt hierbij vooral veroorzaakt door de opwekking van elektriciteit. De elektriciteit die geleverd wordt door de PV-panelen, moet in de woning met het pannendak namelijk door het elektriciteitsnet geleverd worden.</li>
			</ul>

			<p>
				De conclusie van het onderzoek is dus, dat de energie die een PV-dak levert inderdaad opweegt tegen de extra milieubelasting van productie.
	        </p>
        </div>
        
        {% include return_to_portfolio.html %}
        
    </div>
</div>