---
layout: default
title: Project A
---

<div class="span-24 project_detail_photos">
    <div class="span-8">
        <div class="photo">
            <a href="/images/project_a/project_a_large.jpg" rel="lightbox[project_a]" title="Chris and Zachary"><img src="/images/project_a/project_a.jpg" alt="Photo A" /></a>
        </div>
    </div>

    <div class="span-8">
        <div class="photo">
            <a href="/images/project_a/project_a_large.jpg" rel="lightbox[project_a]" title="Chris and Zachary"><img src="/images/project_a/project_a.jpg" alt="Photo A" /></a>
        </div>
    </div>

    <div class="span-8 last">
        <div class="photo">
            <a href="/images/project_a/project_a_large.jpg" rel="lightbox[project_a]" title="Chris and Zachary"><img src="/images/project_a/project_a.jpg" alt="Photo A" /></a>
        </div>
    </div>
</div>

<div class="span-24">
    <div class="project_description">
        
        <h1>Project Awesome</h1>
        
        {% include return_to_portfolio.html %}
        
        <div class="span-11 append-1">
            <p>
                Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        
        <div class="span-11 append-1 last">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
                <li>Ut enim ad minim veniam, quis nostrud</li>
                <li>exercitation ullamco laboris nisi</li>
                <li>ut aliquip ex ea commodo consequat.</li>
            </ul>
        </div>
        
        {% include return_to_portfolio.html %}
        
    </div>
</div>