---
layout: default
title: "Rietveldwoning Huis Van Ommeren"
---

<div class="span-24 project_detail_photos">
    <div class="span-8">
        <div class="photo">
            <a href="/images/rietveld/vanommeren_achterzijde_large.jpg" rel="lightbox[rietveld]" title="Achterzijde van Huis Van Ommeren (rivierzijde)"><img src="/images/rietveld/vanommeren_achterzijde.jpg" alt="Huis Van Ommeren" /></a>
        </div>
    </div>  

    <div class="span-8">
        <div class="photo">
            <a href="/images/rietveld/vanommeren_voorzijde_large.jpg" rel="lightbox[rietveld]" title="Voorzijde van Huis Van Ommeren (dorpszijde)"><img src="/images/rietveld/vanommeren_voorzijde.jpg" alt="Huis Van Ommeren" /></a>
        </div>
    </div>

    <div class="span-8 last">
        <div class="photo">
            <a href="/images/rietveld/vanommeren_woonkamer_large.jpg" rel="lightbox[rietveld]" title="Zitkamer en eetkamer, met uitzicht op de uiterwaarden"><img src="/images/rietveld/vanommeren_woonkamer.jpg" alt="Zitkamer en eetkamer" /></a>
        </div>
    </div>
</div>

<div class="span-24">
    <div class="project_description">
        
        <h1>Rietveldwoning Huis Van Ommeren</h1>
        
        {% include return_to_portfolio.html %}
        
        <div class="span-11 append-1">
			<p>
				Huis van Ommeren is ontworpen door Gerrit Rietveld, en is in 1949 gebouwd. De woning ligt aan de rand van het dorpje Elst (nabij Utrecht) en is prachtig gesitueerd aan de uiterwaarden van de Rijn. Oorspronkelijk was een deel van het huis bestemd als huisartsenpraktijk. Tegenwoordig is de praktijk elders ondergebracht. 
			</p>
            
			<p>
				Allereerst is de woning grondig geanalyseerd en gedocumenteerd. Alle verblijfsruimtes zijn aan de rivierzijde gesitueerd. Deze zijde van het huis kan gekarakteriseerd worden als open en informeel. De dienende ruimtes, de verkeersruimtes en (oorspronkelijk) de huisartsenpraktijk zijn aan de dorpszijde gesitueerd. Deze zijde is meer gesloten en formeel. De woning is nauwelijks thermisch geïsoleerd. De spouwmuren zijn niet geïsoleerd, en de ongeïsoleerde stalen kozijnen zijn voorzien van enkele beglazing. Alleen de daken zijn zeer licht geïsoleerd door middel van een laag kurk. 
			</p>
			
			<p>
				Na de analyse is een wijzigingsvoorstel ontwikkeld. Hierin zijn voorstellen opgenomen om de woning thermisch beter te isoleren, om zo het comfort voor de bewoners te verbeteren en het gasverbruik te reduceren. 
			</p>
			
        </div>
        
        <div class="span-11 append-1 last">
			<p>
				Bij het ontwikkelen van het wijzigingsvoorstel was het behouden van de kwaliteiten van de woning een zeer belangrijke randvoorwaarde. De situering aan de rivier is als belangrijkste kwaliteit gezien. De gesloten voorzijde, de zeer open achterzijde, de dunne stalen kozijnen en het gebogen dak met de slanke, strakke dakrand zijn allemaal gegevens die deze situering ondersteunen. 
			</p>
              
			<p>
				In het wijzigingsvoorstel zijn de daken aan de bovenzijde geïsoleerd. Het dakranddetail is zodanig ontworpen dat zo min mogelijk afbreuk gedaan wordt aan het beeld van de oorspronkelijke dakrand. Voor de gevels is een ander soort oplossing voorgesteld. De smalle spouw met een breedte van 5 cm is nageïsoleerd. Tevens is een dunne voorzetwand toegepast. De stalen kozijnen zijn vervangen door zeer slanke, thermisch onderbroken aluminium kozijnen. 
			</p>
			
			<p>
				Door de voorgestelde wijzigingen wordt het beeld van de woning zo weinig mogelijk aangetast, terwijl het comfort voor de bewoners sterk wordt verbeterd en de stookkosten worden gereduceerd.
			</p> 
        </div>
        
        {% include return_to_portfolio.html %}
        
    </div>
</div>

<div class="span-24 project_detail_photos">
    <div class="span-8">
        <div class="photo">
            <a href="/images/rietveld/plattegrond_bg_large.png" rel="lightbox[rietveld]" title="Indeling van de begane grond"><img src="/images/rietveld/plattegrond_bg.png" alt="Indeling begane grond" /></a>
        </div>
    </div>

    <div class="span-8">
        <div class="photo">
            <a href="/images/rietveld/dak_oud_large.png" rel="lightbox[rietveld]" title="Detaillering van de dakrand aan de voorzijde van de woning, oude situatie"><img src="/images/rietveld/dak_oud.png" alt="Dakdetail oud" /></a>
        </div>
    </div>

    <div class="span-8 last">
        <div class="photo">
            <a href="/images/rietveld/dak_nieuw_large.png" rel="lightbox[rietveld]" title="Detaillering van de dakrand aan de voorzijde van de woning, nieuwe situatie"><img src="/images/rietveld/dak_nieuw.png" alt="Dakdetail nieuw" /></a>
        </div>
    </div>
</div>