---
layout: default
title: Stage bij NEXIT Architecten
---

<div class="span-24 project_detail_photos">
    <div class="span-8">
        <div class="photo">
            <a href="/images/stage/lindenhof_schoolplein_large.jpg" rel="lightbox[stage]" title="Het oude schoolgebouw, schoolpleinzijde (bron: NEXIT Architecten)"><img src="/images/stage/lindenhof_schoolplein.jpg" alt="Het oude schoolgebouw" /></a>
        </div>
    </div>

    <div class="span-8">
        <div class="photo">
            <a href="/images/stage/lindenhof_parkeerplaats_large.jpg" rel="lightbox[stage]" title="Het oude schoolgebouw, parkeerplaatszijde (bron: NEXIT Architecten)"><img src="/images/stage/lindenhof_parkeerplaats.jpg" alt="Het oude schoolgebouw" /></a>
        </div>
    </div>

    <div class="span-8 last">
        <div class="photo">
            <a href="/images/stage/maquettefoto_large.jpg" rel="lightbox[stage]" title="Maquette met het bestaande schoolgebouw en het nieuwbouwgedeelte (bron: NEXIT Architecten)"><img src="/images/stage/maquettefoto.jpg" alt="Maquette" /></a>
        </div>
    </div>
</div>

<div class="span-24">
    <div class="project_description">
        
        <h1>Stage bij NEXIT Architecten</h1>
        
        {% include return_to_portfolio.html %}
        
        <div class="span-11 append-1">
            <p>
				Mijn stage heb ik uitgevoerd bij het bedrijf NEXIT Architecten. Dit is een klein architectenbureau (2005: 3 personen) in de binnenstad van Arnhem.
			</p>

			<p>
				Tijdens de stage heb ik mij voornamelijk bezig gehouden met het project 'de Lindenhof'. Voor dit project werd een plan gemaakt om een oud schoolgebouw dat op de Arnhemse monumentenlijst staat te herbestemmen tot een appartementencomplex. Ook omvatte het plan een aantal nieuwbouwappartementen.
			</p>

			<p>
				Omdat het gebouw op de gemeentelijke monumentenlijst staat vormden de originele houten kozijnen, die in slechte staat verkeerden, een belangrijk punt bij de besprekingen met de gemeentelijke monumenteninspecteur. Tijdens mijn stage heb ik alle kozijnen ingemeten en gedocumenteerd. Tevens heb ik twee verschillende wijzigingsvoorstellen voor de kozijnen uitgewerkt. 
			</p>
        </div>
        
        <div class="span-11 append-1 last">
			<p>
				Het eerste voorstel, waarin de kozijnen vervangen werden en een nieuw kozijn met dubbelglas werd geplaatst (met behoud van de 'ambachtelijke' uitstraling), stuitte op verzet bij de monumenteninspecteur. Het tweede voorstel, waarbij achterzetglas achter de originele ramen werd geplaatst, kon wel op zijn goedkeuring rekenen.
			</p>

			<p>
				Ook met het nieuwbouwgedeelte heb ik mij tijdens de stage beziggehouden. Hiervoor heb ik enkele doorsnedes gemaakt en een aantal principedetails ontworpen.
			</p>

			<p>
				Voor het project 'de Lindenhof' werd gewerkt in een bouwteam, waar architect, ontwikkelaar, aannemer en projectmanager deel van uitmaakten. Ook waren er diverse adviseurs bij het project betrokken. Omdat al deze mensen bij NEXIT op bezoek kwamen, heb ik veel verschillende facetten van de bouw kunnen zien tijdens deze stage.
            </p>            

        </div>
        
        {% include return_to_portfolio.html %}
        
    </div>
</div>

<div class="span-24 project_detail_photos">
    <div class="span-8">
        <div class="photo">
            <a href="/images/stage/doorsnede_large.png" rel="lightbox[stage]" title="Doorsnede over het nieuwbouwgedeelte"><img src="/images/stage/doorsnede.png" alt="Doorsnede over het nieuwbouwgedeelte" /></a>
        </div>
    </div>

    <div class="span-8">
        <div class="photo">
            <a href="/images/stage/detail1_large.png" rel="lightbox[stage]" title="Principedetail voor luifel en beglazing op de bovenste verdieping van de nieuwbouw"><img src="/images/stage/detail1.png" alt="Principedetail" /></a>
        </div>
    </div>

    <div class="span-8 last">
        <div class="photo">
            <a href="/images/stage/detail2_large.png" rel="lightbox[stage]" title="Principedetail voor de overstekende vloer in het nieuwbouwgedeelte"><img src="/images/stage/detail2.png" alt="Principedetail" /></a>
        </div>
    </div>
</div>