<div class="span-24 last project_feature" id="afstudeerproject_feature">
    
    <div class="span-24">
        <div class="project_photo">
            <a href="/afstudeerproject.html"><img src="/images/jeruzalem.png" alt="Nemavo-Airey woningen Helmond" /></a>
        </div>
    </div>
    
    <div class="span-24">
        <div class="project_description">
            <h2><a href="/afstudeerproject.html">Afstudeerproject: energiezuinig en bewonersgericht renoveren van Nemavo-Airey woningen</a></h2>
			<p>
				Nemavo-Airey woningen zijn gebouwd in de wederopbouwperiode na de Tweede Wereldoorlog. Ze bestaan voor een groot deel uit betonnen elementen. Eengezinswoningen die gebouwd zijn volgens het Nemavo-Airey bouwsysteem voldoen niet meer aan de eisen van deze tijd: de woningen zijn klein, en zowel de thermische isolatie als de geluidsisolatie is slecht. Het energiegebruik voor ruimteverwarming is hoog. Sloop van de woningen leidt echter tot...
			</p>	
            <div class="readmore">
                <a href="/afstudeerproject.html">Lees verder &raquo;</a>
            </div>
        </div>
    </div>
</div>