<div class="span-24 last project_teaser" id="biofuels_teaser">
    
    <div class="span-9">
        <div class="project_photo">
            <a href="/biofuels.html"><img src="/images/beckerfrancis_jatrophaplanten.jpg" alt="Jatrophaplanten" /></a>
        </div>
    </div>
    
    <div class="span-15 last">
        <div class="project_description">
            <h2><a href="/biofuels.html">Biofuels in Latin America</a></h2>
            <p>
                <i>Welke gebieden in Latijns Amerika hebben het grootste potentieel om een productiefaciliteit voor biobrandstoffen te starten, en wat zijn hierbij de kansen en gevaren?</i>
            </p>
            <p>
                Dit was de hoofdvraag van het interfacultaire project 'Biofuels in Latin...
            </p>
            <div class="readmore">
                <a href="/biofuels.html">Lees verder &raquo;</a>
            </div>
        </div>
    </div>
</div>