<div class="span-24 last project_teaser" id="duurzaamontwerpen_teaser">
    
    <div class="span-9">
        <div class="project_photo">
            <a href="/duurzaamontwerpen.html"><img src="/images/spacebox_exterieur.jpg" alt="Exterieur Spaceboxen" /></a>
        </div>
    </div>
    
    <div class="span-15 last">
        <div class="project_description">
            <h2><a href="/duurzaamontwerpen.html">Duurzaam ontwerpen: spaceboxen</a></h2>
			<p>	
				Voor het vak 'Duurzaam Ontwerpen' heb ik met behulp van het strategieënwiel (LiDS-wiel) de Spacebox geanalyseerd. Ook heb ik met behulp van dit wiel een verbeteringsvoorstel gemaakt.
			</p>
			
			<p>
				Spaceboxen zijn kant-en-klare woonunits, die vooral worden...
			</p>
			
            <div class="readmore">
                <a href="/duurzaamontwerpen.html">Lees verder &raquo;</a>
            </div>
        </div>
    </div>
</div>