<div class="span-24 last project_teaser" id="highrise_teaser">
    
    <div class="span-9">
        <div class="project_photo">
            <a href="/highrise.html"><img src="/images/transportal.jpg" alt="Transportal" /></a>
        </div>
    </div>
    
    <div class="span-15 last">
        <div class="project_description">
            <h2><a href="/highrise.html">Highrise buildings: the Transportal</a></h2>
            <p>
               	De opdracht voor dit multidisciplinaire project was het ontwerpen van een 250 meter hoge kantoortoren in het gebied rond het Centraal Station van Rotterdam, met een groep van 6 bouwkunde-studenten van verschillende disciplines. Ik nam in onze groep de bouwtechnische... 
            </p>
            <div class="readmore">
                <a href="/highrise.html">Lees verder &raquo;</a>
            </div>
        </div>
    </div>
</div>