<div class="span-24 last project_teaser" id="lcatechniek_teaser">
    
    <div class="span-9">
        <div class="project_photo">
            <a href="/lcatechniek.html"><img src="/images/tno_pvdaken.jpg" alt="PV-daksysteem" /></a>
        </div>
    </div>
    
    <div class="span-15 last">
        <div class="project_description">
            <h2><a href="/lcatechniek.html">LCA-techniek voor duurzaam bouwen</a></h2>
           
 			<p>
                <i>Weegt de energie die een PV-dak levert op tegen de extra milieubelasting door de productie van zo'n dak?</i>
			</p>
			
			<p>
				Dit is de vraag die ik mij voor de opdracht bij het vak 'LCA-techniek voor duurzaam bouwen' gesteld heb. Om deze vraag te kunnen...
			</p>
			
            <div class="readmore">
                <a href="/lcatechniek.html">Lees verder &raquo;</a>
            </div>
        </div>
    </div>
</div>