<div class="span-24 last project_teaser" id="project_teaser_d">
    
    <div class="span-9">
        <div class="project_photo">
            <a href="/project_a.html"><img src="/images/project_sample_thumb_b.jpg" alt="Project B Sample Thumb" /></a>
        </div>
    </div>
    
    <div class="span-15 last">
        <div class="project_description">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <div class="readmore">
                <a href="#">Lees verder &raquo;</a>
            </div>
        </div>
    </div>
</div>