<div class="span-24 last project_feature" id="project_feature">
    
    <div class="span-24">
        <div class="project_photo">
            <a href="/project_a.html"><img src="/images/project_x_header.jpg" alt="Project Feature" /></a>
        </div>
    </div>
    
    <div class="span-24">
        <div class="project_description">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <div class="readmore">
                <a href="#">Lees verder &raquo;</a>
            </div>
        </div>
    </div>
</div>