<div class="span-24 last project_teaser" id="rietveld_teaser">
    
    <div class="span-9">
        <div class="project_photo">
            <a href="/rietveld.html"><img src="/images/vanommeren_achterzijde.jpg" alt="Huis Van Ommeren" /></a>
        </div>
    </div>
    
    <div class="span-15 last">
        <div class="project_description">
            <h2><a href="/rietveld.html">Rietveldwoning Huis Van Ommeren</a></h2>
			
			<p>
				Huis van Ommeren is ontworpen door Gerrit Rietveld, en is in 1949 gebouwd. De woning ligt aan de rand van het dorpje Elst (nabij Utrecht) en is prachtig gesitueerd aan de uiterwaarden van de Rijn. Oorspronkelijk was een deel van het huis bestemd als huisartsenpraktijk...
			</p>
			
            <div class="readmore">
                <a href="/rietveld.html">Lees verder &raquo;</a>
            </div>
        </div>
    </div>
</div>