<div class="span-24 last project_teaser" id="stage_teaser">
    
    <div class="span-9">
        <div class="project_photo">
            <a href="/stage.html"><img src="/images/lindenhof_schoolplein.jpg" alt="De Lindenhof" /></a>
        </div>
    </div>
    
    <div class="span-15 last">
        <div class="project_description">
            <h2><a href="/stage.html">Stage bij NEXIT Architecten</a></h2>
            <p>
                Tijdens de stage heb ik mij voornamelijk bezig gehouden met het project 'de Lindenhof'. Voor dit project werd een plan gemaakt om een oud schoolgebouw dat op de Arnhemse monumentenlijst staat te herbestemmen tot appartementen. Ook omvatte het plan een aantal...
            </p>

            <div class="readmore">
                <a href="/stage.html">Lees verder &raquo;</a>
            </div>
        </div>
    </div>
</div>